title{
body{

  background: rgb(6,82,242);
background: linear-gradient(90deg, rgba(6,82,242,1) 0%, rgba(1,63,102,1) 9%, rgba(0,211,255,1) 21%, rgba(0,69,255,1) 50%, rgba(0,212,255,1) 100%);
}
  
h1{
colour: blue;
}

  h2{
  colour: rgb(17, 171, 214);
  }


}




  
}
